<!-- <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="15" class="pr-4">
    <form [formGroup]="addmulticty">
      <div formArrayName="addmulti">
        <div *ngFor="let data of addmulti.controls; index as j" [formGroupName]="j">
          <div class="form-group">
            <mat-form-field appearance="outline" class="form-field mr-2">
              <mat-label>From</mat-label>
              <mat-select id="from" formControlName="multicityarrival">
                <mat-option *ngFor="let option of Options" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="form-field ml-2">
              <mat-label>To</mat-label>
              <mat-select id="to" formControlName="multicitydepature">
                <mat-option *ngFor="let option of Options" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
  
            <img id="image" src="./assets/images/reverse.png" class="reverse-button" (click)="reverse(j)">
          </div>
  
          <mat-form-field appearance="outline" class="depature-form-field">
            <mat-label>Return</mat-label>
            <input matInput [matDatepicker]="returnPicker" placeholder="Choose a date" formControlName="multireturnDate">
            <mat-datepicker-toggle matSuffix [for]="returnPicker"></mat-datepicker-toggle>
            <mat-datepicker #returnPicker></mat-datepicker>
          </mat-form-field>
  
          <button mat-icon-button type="button" (click)="addCity()">
            <mat-icon color="primary">add_circle_outline</mat-icon>
          </button>
  
          <button mat-icon-button type="button" (click)="removeCity(j)" *ngIf="addmulti.length > 1">
            <mat-icon color="warn">remove_circle_outline</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div> -->
  




  <!-- <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="15" class="pr-4">
    <form [formGroup]="addmulticty">
      <div formArrayName="addmulti">
        <div *ngFor="let data of addmulti.controls; index as j" [formGroupName]="j">
          <div class="form-group">
            <mat-form-field appearance="outline" class="form-field mr-2">
              <mat-label>From</mat-label>
              <mat-select id="from" formControlName="multicityarrival">
                <mat-option *ngFor="let option of Options" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="form-field ml-2">
              <mat-label>To</mat-label>
              <mat-select id="to" formControlName="multicitydepature">
                <mat-option *ngFor="let option of Options" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
  
            <img id="image" src="./assets/images/reverse.png" class="reverse-button" (click)="reverse(j)">
          </div>
  
          <mat-form-field appearance="outline" class="depature-form-field">
            <mat-label>Return</mat-label>
            <input matInput [matDatepicker]="returnPicker" placeholder="Choose a date" formControlName="multireturnDate">
            <mat-datepicker-toggle matSuffix [for]="returnPicker"></mat-datepicker-toggle>
            <mat-datepicker #returnPicker></mat-datepicker>
          </mat-form-field>
  
          
          <button mat-icon-button type="button" (click)="addCity(j)">
            <mat-icon color="primary">add_circle_outline</mat-icon>
          </button>
  
   
          <button mat-icon-button type="button" (click)="removeCity(j)" *ngIf="addmulti.length > 1">
            <mat-icon color="warn">remove_circle_outline</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div> -->
  


  <!--other tables-->
  <mat-table [dataSource]="outerDataSource" class="mat-elevation-z8">
    <!-- Outer Table Columns -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="expand">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="toggleRow(element)">
          <mat-icon>{{ expandedElement === element ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns;" [class.expanded-row]="expandedElement === element"></mat-row>
  
    <!-- Expanded Content Row -->
    <ng-container matColumnDef="expandedDetail">
      <mat-row *matRowDef="let element; columns: ['expandedDetail'];" class="example-element-row">
        <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <mat-expansion-panel [expanded]="expandedElement === element">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Additional Details
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Inner Table -->
            <mat-table [dataSource]="innerDataSource[element.position]" class="mat-elevation-z8">
              <ng-container matColumnDef="innerPosition">
                <mat-header-cell *matHeaderCellDef> Inner Position </mat-header-cell>
                <mat-cell *matCellDef="let innerElement"> {{innerElement.innerPosition}} </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="innerName">
                <mat-header-cell *matHeaderCellDef> Inner Name </mat-header-cell>
                <mat-cell *matCellDef="let innerElement"> {{innerElement.innerName}} </mat-cell>
              </ng-container>
  
              <mat-header-row *matHeaderRowDef="innerDisplayedColumns"></mat-header-row>
              <mat-row *matRowDef="let innerElement; columns: innerDisplayedColumns;"></mat-row>
            </mat-table>
          </mat-expansion-panel>
        </mat-cell>
      </mat-row>
    </ng-container>
  
    <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"></mat-row>
  </mat-table>
  